@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@layer base {
  input, textarea, select {
    @apply appearance-none rounded-none bg-transparent;
  }
}
